
/*
Need to style the calculator since all the functions are working.
*/

input {
    caret-color: transparent; /*This enables the cursor to disappear(transparent)*/
}

#display {
    height: 200px;
    width: 300px;
    padding: 100px;
}

#container {
}

#number {
    padding-top: 100px;
    width: 300px;
}

button {
    width: 75px;
    height: 75px;
}

#container2 {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 30%;
    flex-grow: 3;

}

#number {
    text-align: right;
    overflow: hidden;
    font-size: 50px;
    display: inline-block;
}