
input {
    caret-color: transparent; /*This enables the cursor to disappear(transparent)*/
}

#display {
    height: 200px;
    width: 200px;
    padding: 300px;
}

#container {
}

button {
    width: 50px;
    height: 50px;
}

#container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 30%;
    flex-shrink: 2

}

#number {
    text-align: right;
    overflow: hidden;
}